.conteudo__banner {
    padding: 2.5rem 2rem;
    background: var(--cor-destaque);
    color: var(--cor-secundaria);
    text-align: center;
}

.conteudo__banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.conteudo__bannner_texto {
    margin: 1rem 0;
    font-weight: 500;
}

.conteudo__banner__pesquisa {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
    border-radius: 1.5rem;
    color: var(--cor-secundaria);
}

.conteudo__banner__pesquisa::placeholder {
    text-align: center;
    background: url('./../assets/lupa.svg') no-repeat;
    background-position: 1rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte);
    font-size: 0.875rem;
    font-weight: 400;
}

/* TABLET */
@media screen and (min-width: 1024px) {
    .conteudo__banner__titulo {
        font-size: 2.25rem;
    }

    .conteudo__banner__pesquisa {
        width: 50%;
    }

    .conteudo__banner__pesquisa::placeholder {
        background-position: 5rem;
    }
}

@media screen and (min-width: 1728px) {
    .conteudo__banner {
        padding: 5rem 0;
    }

    .conteudo__banner__pesquisa {
        width: 35%;
    }

    .conteudo__banner__pesquisa::placeholder {
        background-position: 8rem;
    }
}