.conteudo__carrossel__titulo {
    padding: 1rem 0 0.5rem 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.conteudo__carrossel__card {
    margin: 1rem;
    padding: 1rem;
    background: var(--cor-secundaria);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.conteudo__carrossel__card__informacao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.conteudo__carrossel__card__informacao__descricao__titulo {
    color: var(--cor-terciaria);
    font-weight: 700;
}

.conteudo__carrossel__card__informacao__descricao__livro {
    margin: 0.5rem 0;
    color: var(--cor-quaternaria);
    font-size: 1.125rem;
    font-weight: 700;
}

.conteudo__carrossel__card__informacao__descricao__texto {
    margin-right: 0.5rem;
    font-size: 0.875rem;
}

.conteudo__carrossel__card__botoes {
    display: flex;
    justify-content: space-between;
}

.conteudo__carrossel__card__botoes__lista {
    display: flex;
}

.conteudo__carrossel__card__botoes__lista__item {
    margin: 0 0.5rem;
}

.conteudo__carrossel__card__botoes__ancora {
    padding: 1rem 2.3rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .conteudo__carrossel__titulo {
        font-size: 1.625rem;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 2rem 0 3em 0;
    }

    #swiper-button-next, #swiper-button-prev, #swiper-button-next-2, #swiper-button-prev-2 {
        display: block;
        top: 60%;
    }

    .conteudo__carrossel__card {
        margin: 2rem auto;
        width: 40%;
    }
}

@media screen and (min-width: 1728px) {
    .conteudo__carrossel__container {
        display: flex;
        align-items: center;
        margin: 0 20vw 3rem 20vw;
    }

    .swiper {
        width: 50%;
    }

    .swiper-pagination {
        margin: 0.5rem 0;
    }

    .conteudo__carrossel__card {
        width: 60%;
        margin-left: 3rem;
    }

    .conteudo__carrossel__card__informacao__descricao__titulo {
        font-size: 1.5rem;
    }

    .conteudo__carrossel__card__informacao__descricao__texto {
        font-size: 1rem;
    }

    .conteudo__carrossel__card__botoes__ancora:hover {
        opacity: 0.8;
        color: var(--cor-ancora-cabecalho);
    }

    .conteudo__carrossel__card__botoes__lista__item__favoritos:hover {
        width: 40px;
    }

    .conteudo__carrossel__card__botoes__lista__item__sacola:hover {
        width: 31px;
    }
}