.conteudo__contato {
    padding: 1rem;
    background-color: var(--cor-secundaria);
}

.conteudo__contato__titulo {
    font-size: 1.125rem;
    font-weight: 500;
}

.conteudo__contato__texto {
    margin: 1rem 0;
    font-weight: 300;
}

.conteudo__contato__titulo, .conteudo__contato__texto {
    background: var(--cor-destaque);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conteudo__contato__email {
    padding: 1rem;
    width: 90%;
    border: 1px solid var(--cor-quaternaria);
    border-radius: 1.5rem;
    color: var(--cor-quaternaria);
}

.conteudo__contato__email::placeholder {
    padding-left: 2rem;
    background: url('./../assets/email.svg') no-repeat;
    color: var(--cor-quaternaria);
    font-family: var(--fonte);
}

@media screen and (min-width: 1024px) {
    .conteudo__contato {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .conteudo__contato__descricao {
        width: 30%;
    }

    .conteudo__contato__titulo {
        font-size: 1.5rem;
    }
    
    .conteudo__contato__email {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .conteudo__contato {
        padding: 3rem 23vw;
    }
}