.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: var(--cor-secundaria);
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__container__menu-hamburguer {
    display: inline-block;

    height: 1.5rem;
    width: 1.5rem;
    
    background-image: url('./../assets/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.cabecalho__container__imagem {
    padding: 1rem;
}

.cabecalho__container__lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 60vw;
}

.cabecalho__container__botao:checked ~ .cabecalho__container__lista-menu {
    display: block;
}

.cabecalho__container__botao:checked ~ .cabecalho__container__rotulo {
    background: var(--cor-destaque);
}

.cabecalho__container__botao:checked ~ .cabecalho__container__rotulo > .cabecalho__container__menu-hamburguer {
    background-image: url('./../assets/menu-aberto.svg');
}

.cabecalho__container__lista-menu__titulo {
    color: var(--cor-destaque);
    font-weight: 700;
}

.cabecalho__container__lista-menu__titulo, .cabecalho__container__lista-menu__item {
    padding: 1rem;

    background-color: var(--cor-secundaria);
}

.cabecalho__container__lista-menu__link {
    background: var(--cor-destaque);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: none;
    text-transform: uppercase;
}

.cabecalho__container__botao,
.cabecalho__container__titulo,
.cabecalho__opcoes,
.cabecalho__container__texto {
    display: none;
}

/* TABLET */
@media screen and (min-width: 1024px) {
    #cabecalho__container__favoritos, .cabecalho__container__menu-hamburguer {
        display: none;
    }

    .cabecalho__container__logo {
        padding: 1rem;
    }

    .cabecalho__container__titulo {
        display: block;
        font-weight: 400;
    }

    .cabecalho__container__titulo__negrito {
        font-weight: 700;
    }

    .cabecalho__container__titulo, .cabecalho__container__titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
    }

    .cabecalho__opcoes {
        display: flex;
        gap: 2rem;
    }

    .cabecalho__opcoes__menu {
        display: none;
    }

    .cabecalho__opcoes__menu:checked ~ .cabecalho__container__lista-menu {
        display: block;
        width: auto;
    }

    .cabecalho__opcoes__menu:checked ~ .cabecalho__opcoes__rotulo > .cabecalho__opcoes__item {
        background: var(--cor-destaque);
        color: var(--cor-secundaria);
    }

    .cabecalho__opcoes__item {
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    .cabecalho__opcoes__item__link {
        color: var(--cor-ancora-cabecalho);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2rem;
    }

    .cabecalho__container {
        margin-right: 1rem;
    }

    .cabecalho__opcoes {
        gap: 0.5rem;
        margin-right: auto;
    }

    .cabecalho__opcoes__rotulo:hover {
        cursor: pointer;
    }

    .cabecalho__opcoes__item__link:hover {
        text-decoration: underline;
    }

    .cabecalho__container__link {
        display: flex;
        align-items: center;
        color: var(--cor-ancora-cabecalho);
        text-decoration: none;
    }

    .cabecalho__container__link:hover > .cabecalho__container__texto {
        text-decoration: underline;
    }

    .cabecalho__container__texto {
        display: block;
    }

    .cabecalho__container__lista-menu__item:hover {
        background: var(--cor-destaque);
        cursor: pointer;
    }

    .cabecalho__container__lista-menu__item:hover > .cabecalho__container__lista-menu__link {
        -webkit-text-fill-color: var(--cor-secundaria);
    }
}