.cabecalho {
    align-items: center;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.container__titulo {
    display: none;
}

.cabecalho__opcoes {
    display: none;
}

.cabecalho__menu-hamburguer {
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 2;
}

.lista-menu__titulo {
    color: var(--lista-menu-title-color);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--lista-menu-link-color);

    /* Colocar a cor do background somente no texto.  */
    background-clip: text;

    text-transform: uppercase;

    /* Esses webkit serve para funcionarem a cor somente no texto em outros navegadores. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--header-bg-color);
    padding: 1em;
}

.container__texto {
    display: none;
}

.container__botao:checked ~ .container__rotulo {
    background: var(--lista-menu-link-color);
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url('./../assets/Menu\ Aberto.svg');
}

/* Se o elemento estiver com o estado 'checked', todos os próximos elementos irmãos com a classe 'lista-menu' vão ser estilizados. */
.container__botao:checked ~ .lista-menu {
    display: block;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo__negrito {
        font-weight: 700;
    }

    .container__titulo, .container__titulo__negrito {
        font-family: var(--secondary-font);
        font-size: 1.875rem;
    }

    .cabecalho__opcoes {
        display: flex;
    }

    .cabecalho__opcoes__item {
        cursor: pointer;
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .cabecalho__opcoes__item__link {
        color: var(--cabecalho-opcoes-item-link-color);
        text-decoration: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__opcoes__menu {
        display: none;
    }

    .cabecalho__opcoes__rotulo:hover {
        background-color: var(--bg-color);
    }

    .cabecalho__opcoes__item__link:hover {
        color: var(--lista-menu-title-color);
    }

    .lista-menu__item:hover {
        background: var(--lista-menu-link-color);
    }    

    .lista-menu__item:hover > .lista-menu__link {
        text-decoration: none;

        /* Trocar a cor da fonte */
        -webkit-text-fill-color: var(--header-bg-color);
    }

    .cabecalho__opcoes__menu:checked ~ .cabecalho__opcoes__rotulo > .cabecalho__opcoes__item {
        background: var(--lista-menu-link-color);
        color: var(--header-bg-color);
    }

    .cabecalho__opcoes__menu:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }

    .cabecalho__opcoes {
        margin-left: 2rem;
        margin-right: auto;
    }

    .container__link {
        align-items: center;
        color: var(--cabecalho-opcoes-item-link-color);
        display: flex;
        text-decoration: none;
    }

    .container__texto {
        display: block;
    }

    .container__link:hover > .container__texto {
        color: var(--lista-menu-title-color);
    }
}