.rodape {
    padding: 1rem;
    background-color: var(--cor-secundaria);
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }

    .rodape__lista {
        display: block;
    }

    .rodape__lista__titulo {
        color: var(--cor-item-titulo-rodape);
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .rodape__lista__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0.6rem 0;
    }

    .rodape__lista__item__link {
        color: var(--cor-item-rodape);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3rem 0;
    }

    .rodape__lista {
        border-left: 1px solid var(--cor-item-titulo-rodape);
        padding-left: 1rem;
    }

    .rodape__lista__item__link:hover {
        text-decoration: underline;
    }
}