@import url('./header.css');
@import url('./banner.css');
@import url('./carrossel.css');
@import url('./topico.css');
@import url('./contato.css');
@import url('./rodape.css');

:root {
    --cor-primaria: #EBECEE;
    --cor-secundaria: #FFF;
    --cor-terciaria: #EB9000;
    --cor-quaternaria: #002F52;
    --cor-destaque: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-ancora-cabecalho: #000;
    --cor-item-titulo-rodape: #858585;
    --cor-item-rodape: #474646;
    --fonte: "Poppins", sans-serif;
    --fonte-secundaria: "Josefin Sans", sans-serif;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 400;
}